In [39]:
import pandas as pd

In [40]:
df = pd.read_csv('concatenated.csv', sep=',')

In [41]:
df.head()

,Id_SERVIDOR_PORTAL,NOME,CPF,MATRICULA,DESCRICAO_CARGO,CLASSE_CARGO,REFERENCIA_CARGO,PADRAO_CARGO,NIVEL_CARGO,SIGLA_FUNCAO,...,DATA_NOMEACAO_CARGOFUNCAO,DATA_INGRESSO_ORGAO,DOCUMENTO_INGRESSO_SERVICOPUBLICO,DATA_DIPLOMA_INGRESSO_SERVICOPUBLICO,DIPLOMA_INGRESSO_CARGOFUNCAO,DIPLOMA_INGRESSO_ORGAO,DIPLOMA_INGRESSO_SERVICOPUBLICO,UF_EXERCICIO,ano,mes
0,75714101,ADMA KATIA LACERDA CHAVES,***.901.765-**,018****,PROFESSOR 3 GRAU,5,0,NaN,1,-1,...,NaN,18/03/2011,248.0,11/04/2011,NaN,PORTARIA,PORTARIA,-1,2013,1
1,84412838,ADRIANA MIGLIORINI KIECKHOFER,***.003.729-**,019****,PROFESSOR 3 GRAU,6,0,NaN,1,-1,...,NaN,20/12/2011,192.0,03/01/2012,NaN,PORTARIA,PORTARIA,-1,2013,1
2,80626796,ALEX ALVAREZ SILVA,***.407.926-**,018****,Sem informação,NaN,-1,-1.0,-1,FUC,...,NaN,14/09/2010,761.0,18/10/2010,NaN,PORTARIA,PORTARIA,-1,2013,1
3,74814273,ALEXANDRE EMMANUEL BORTOLETTO,***.202.949-**,018****,PROFESSOR 3 GRAU,6,0,NaN,1,-1,...,NaN,24/09/2010,802.0,27/10/2010,NaN,PORTARIA,PORTARIA,-1,2013,1
4,81706863,ALINE CRAIDE,***.189.240-**,016****,PROFESSOR 3 GRAU,6,0,NaN,1,-1,...,NaN,29/12/2008,1002.0,09/02/2009,NaN,PORTARIA,PORTARIA,-1,2013,1

In [42]:
df.columns

Index(['Id_SERVIDOR_PORTAL', 'NOME', 'CPF', 'MATRICULA', 'DESCRICAO_CARGO',
       'CLASSE_CARGO', 'REFERENCIA_CARGO', 'PADRAO_CARGO', 'NIVEL_CARGO',
       'SIGLA_FUNCAO', 'NIVEL_FUNCAO', 'FUNCAO', 'CODIGO_ATIVIDADE',
       'ATIVIDADE', 'OPCAO_PARCIAL', 'COD_UORG_LOTACAO', 'UORG_LOTACAO',
       'COD_ORG_LOTACAO', 'ORG_LOTACAO', 'COD_ORGSUP_LOTACAO',
       'ORGSUP_LOTACAO', 'COD_UORG_EXERCICIO', 'UORG_EXERCICIO',
       'COD_ORG_EXERCICIO', 'ORG_EXERCICIO', 'COD_ORGSUP_EXERCICIO',
       'ORGSUP_EXERCICIO', 'COD_TIPO_VINCULO', 'TIPO_VINCULO',
       'SITUACAO_VINCULO', 'DATA_INICIO_AFASTAMENTO',
       'DATA_TERMINO_AFASTAMENTO', 'REGIME_JURIDICO', 'JORNADA_DE_TRABALHO',
       'DATA_INGRESSO_CARGOFUNCAO', 'DATA_NOMEACAO_CARGOFUNCAO',
       'DATA_INGRESSO_ORGAO', 'DOCUMENTO_INGRESSO_SERVICOPUBLICO',
       'DATA_DIPLOMA_INGRESSO_SERVICOPUBLICO', 'DIPLOMA_INGRESSO_CARGOFUNCAO',
       'DIPLOMA_INGRESSO_ORGAO', 'DIPLOMA_INGRESSO_SERVICOPUBLICO',
       'UF_EXERCICIO', 'ano', 'mes'],
      dtype='object')

In [44]:
df[['COD_TIPO_VINCULO', 'TIPO_VINCULO']]

      COD_TIPO_VINCULO TIPO_VINCULO
0                    2        Cargo
1                    2        Cargo
2                    1       Função
3                    2        Cargo
4                    2        Cargo
...                ...          ...
1088                 2        Cargo
1089                 2        Cargo
1090                 2        Cargo
1091                 2        Cargo
1092                 2        Cargo

[1093 rows x 2 columns]

In [45]:
df_cargos = df[df['COD_TIPO_VINCULO']==2]

In [46]:
df_cargos.head(5)

,Id_SERVIDOR_PORTAL,NOME,CPF,MATRICULA,DESCRICAO_CARGO,CLASSE_CARGO,REFERENCIA_CARGO,PADRAO_CARGO,NIVEL_CARGO,SIGLA_FUNCAO,...,DATA_NOMEACAO_CARGOFUNCAO,DATA_INGRESSO_ORGAO,DOCUMENTO_INGRESSO_SERVICOPUBLICO,DATA_DIPLOMA_INGRESSO_SERVICOPUBLICO,DIPLOMA_INGRESSO_CARGOFUNCAO,DIPLOMA_INGRESSO_ORGAO,DIPLOMA_INGRESSO_SERVICOPUBLICO,UF_EXERCICIO,ano,mes
0,75714101,ADMA KATIA LACERDA CHAVES,***.901.765-**,018****,PROFESSOR 3 GRAU,5,0,NaN,1,-1,...,NaN,18/03/2011,248.0,11/04/2011,NaN,PORTARIA,PORTARIA,-1,2013,1
1,84412838,ADRIANA MIGLIORINI KIECKHOFER,***.003.729-**,019****,PROFESSOR 3 GRAU,6,0,NaN,1,-1,...,NaN,20/12/2011,192.0,03/01/2012,NaN,PORTARIA,PORTARIA,-1,2013,1
3,74814273,ALEXANDRE EMMANUEL BORTOLETTO,***.202.949-**,018****,PROFESSOR 3 GRAU,6,0,NaN,1,-1,...,NaN,24/09/2010,802.0,27/10/2010,NaN,PORTARIA,PORTARIA,-1,2013,1
4,81706863,ALINE CRAIDE,***.189.240-**,016****,PROFESSOR 3 GRAU,6,0,NaN,1,-1,...,NaN,29/12/2008,1002.0,09/02/2009,NaN,PORTARIA,PORTARIA,-1,2013,1
5,78919018,ALINE RIBEIRO PESSOA,***.249.231-**,018****,PROFESSOR 3 GRAU,5,0,NaN,1,-1,...,NaN,07/10/2010,932.0,27/10/2010,NaN,PORTARIA,PORTARIA,-1,2013,1

In [47]:
df_cargos.columns

Index(['Id_SERVIDOR_PORTAL', 'NOME', 'CPF', 'MATRICULA', 'DESCRICAO_CARGO',
       'CLASSE_CARGO', 'REFERENCIA_CARGO', 'PADRAO_CARGO', 'NIVEL_CARGO',
       'SIGLA_FUNCAO', 'NIVEL_FUNCAO', 'FUNCAO', 'CODIGO_ATIVIDADE',
       'ATIVIDADE', 'OPCAO_PARCIAL', 'COD_UORG_LOTACAO', 'UORG_LOTACAO',
       'COD_ORG_LOTACAO', 'ORG_LOTACAO', 'COD_ORGSUP_LOTACAO',
       'ORGSUP_LOTACAO', 'COD_UORG_EXERCICIO', 'UORG_EXERCICIO',
       'COD_ORG_EXERCICIO', 'ORG_EXERCICIO', 'COD_ORGSUP_EXERCICIO',
       'ORGSUP_EXERCICIO', 'COD_TIPO_VINCULO', 'TIPO_VINCULO',
       'SITUACAO_VINCULO', 'DATA_INICIO_AFASTAMENTO',
       'DATA_TERMINO_AFASTAMENTO', 'REGIME_JURIDICO', 'JORNADA_DE_TRABALHO',
       'DATA_INGRESSO_CARGOFUNCAO', 'DATA_NOMEACAO_CARGOFUNCAO',
       'DATA_INGRESSO_ORGAO', 'DOCUMENTO_INGRESSO_SERVICOPUBLICO',
       'DATA_DIPLOMA_INGRESSO_SERVICOPUBLICO', 'DIPLOMA_INGRESSO_CARGOFUNCAO',
       'DIPLOMA_INGRESSO_ORGAO', 'DIPLOMA_INGRESSO_SERVICOPUBLICO',
       'UF_EXERCICIO', 'ano', 'mes'],
      dtype='object')

In [48]:
df_cargos = df_cargos[['Id_SERVIDOR_PORTAL', 'NOME', 'DESCRICAO_CARGO',
       'CLASSE_CARGO', 'REFERENCIA_CARGO', 'PADRAO_CARGO', 'NIVEL_CARGO', 'COD_UORG_LOTACAO', 'UORG_LOTACAO',
       'COD_ORG_LOTACAO', 'ORG_LOTACAO','COD_UORG_EXERCICIO', 'UORG_EXERCICIO',
       'COD_ORG_EXERCICIO', 'ORG_EXERCICIO','SITUACAO_VINCULO','REGIME_JURIDICO', 'JORNADA_DE_TRABALHO',
       'DATA_INGRESSO_CARGOFUNCAO',
       'DATA_INGRESSO_ORGAO','DATA_DIPLOMA_INGRESSO_SERVICOPUBLICO', 'ano', 'mes']]

In [49]:
df_cargos[df['NOME']=='CLAUDIO ALEX DE OLIVEIRA PIRES']

/tmp/ipykernel_10679/1393212702.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_cargos[df['NOME']=='CLAUDIO ALEX DE OLIVEIRA PIRES']

,Id_SERVIDOR_PORTAL,NOME,DESCRICAO_CARGO,CLASSE_CARGO,REFERENCIA_CARGO,PADRAO_CARGO,NIVEL_CARGO,COD_UORG_LOTACAO,UORG_LOTACAO,COD_ORG_LOTACAO,...,COD_ORG_EXERCICIO,ORG_EXERCICIO,SITUACAO_VINCULO,REGIME_JURIDICO,JORNADA_DE_TRABALHO,DATA_INGRESSO_CARGOFUNCAO,DATA_INGRESSO_ORGAO,DATA_DIPLOMA_INGRESSO_SERVICOPUBLICO,ano,mes
189,76121688,CLAUDIO ALEX DE OLIVEIRA PIRES,PROFESSOR MAGISTERIO SUPERIOR-SUBSTITUTO,4,0,NaN,401,26232000000732,UNIV FEDERAL DO OESTE DA BAHIA/UFOB/ICAD,26232,...,26232,Universidade Federal da Bahia,CONT.PROF.SUBSTITUTO,CONTRATO TEMPORARIO,20 HORAS SEMANAIS,18/06/2014,31/07/2014,18/06/2014,2014,7

In [34]:
df_funcao = df[df['COD_TIPO_VINCULO']==1]

In [35]:
df_funcao.columns

Index(['Id_SERVIDOR_PORTAL', 'NOME', 'CPF', 'MATRICULA', 'DESCRICAO_CARGO',
       'CLASSE_CARGO', 'REFERENCIA_CARGO', 'PADRAO_CARGO', 'NIVEL_CARGO',
       'SIGLA_FUNCAO', 'NIVEL_FUNCAO', 'FUNCAO', 'CODIGO_ATIVIDADE',
       'ATIVIDADE', 'OPCAO_PARCIAL', 'COD_UORG_LOTACAO', 'UORG_LOTACAO',
       'COD_ORG_LOTACAO', 'ORG_LOTACAO', 'COD_ORGSUP_LOTACAO',
       'ORGSUP_LOTACAO', 'COD_UORG_EXERCICIO', 'UORG_EXERCICIO',
       'COD_ORG_EXERCICIO', 'ORG_EXERCICIO', 'COD_ORGSUP_EXERCICIO',
       'ORGSUP_EXERCICIO', 'COD_TIPO_VINCULO', 'TIPO_VINCULO',
       'SITUACAO_VINCULO', 'DATA_INICIO_AFASTAMENTO',
       'DATA_TERMINO_AFASTAMENTO', 'REGIME_JURIDICO', 'JORNADA_DE_TRABALHO',
       'DATA_INGRESSO_CARGOFUNCAO', 'DATA_NOMEACAO_CARGOFUNCAO',
       'DATA_INGRESSO_ORGAO', 'DOCUMENTO_INGRESSO_SERVICOPUBLICO',
       'DATA_DIPLOMA_INGRESSO_SERVICOPUBLICO', 'DIPLOMA_INGRESSO_CARGOFUNCAO',
       'DIPLOMA_INGRESSO_ORGAO', 'DIPLOMA_INGRESSO_SERVICOPUBLICO',
       'UF_EXERCICIO', 'ano', 'mes'],
      dtype='object')

In [36]:
df_funcao[['Id_SERVIDOR_PORTAL', 'NOME','SIGLA_FUNCAO', 'NIVEL_FUNCAO', 'FUNCAO', 'CODIGO_ATIVIDADE',
       'ATIVIDADE', 'OPCAO_PARCIAL','DATA_INGRESSO_CARGOFUNCAO','ano', 'mes']]

,Id_SERVIDOR_PORTAL,NOME,SIGLA_FUNCAO,NIVEL_FUNCAO,FUNCAO,CODIGO_ATIVIDADE,ATIVIDADE,OPCAO_PARCIAL,DATA_INGRESSO_CARGOFUNCAO,ano,mes
2,80626796,ALEX ALVAREZ SILVA,FUC,1,FUNCAO COMISSIONADA DE COORD. CURSO,220,COORDENADOR DE CURSO,NaN,01/10/2012,2013,1
62,85611886,JAQUELINE FRITSCH,CD,4,CARGO DE DIRECAO - CD - IFES,39,GERENTE,S,01/02/2009,2013,1
63,85807316,JARINE BARBOZA ROCHA MENSCH,FG,2,FUNCAO GRATIFICADA - IFES,2043,CHEFE,NaN,01/11/2012,2013,1
166,75024781,BRUNO CASSEB PESSOTI,FUC,1,FUNCAO COMISSIONADA DE COORD. CURSO,220,COORDENADOR DE CURSO,NaN,29/11/2012,2013,2
206,77820549,JACQUES ANTONIO DE MIRANDA,CD,3,CARGO DE DIRECAO - CD - IFES,99,DIRETOR,S,31/10/2011,2013,2
...,...,...,...,...,...,...,...,...,...,...,...
58223,76511331,RODRIGO DA PAIXAO ESTRELA,FG,3,FUNCAO GRATIFICADA - IFES,56,ASSISTENTE,NaN,12/07/2022,2022,12
58256,83018720,TAIDES TAVARES DOS SANTOS,FG,2,FUNCAO GRATIFICADA - IFES,3121,VICE DIRETOR,NaN,13/10/2021,2022,12
58268,84811125,TERESINHA MARIA MENEGAZZO,CD,4,CARGO DE DIRECAO - CD - IFES,33,COORDENADOR,S,01/12/2021,2022,12
58280,79524353,UILIAM RANGEL AMORIM SOUZA,CD,4,CARGO DE DIRECAO - CD - IFES,33,COORDENADOR,S,01/11/2019,2022,12
58291,78013924,VANESSA GODOY KINOSHITA,CD,2,CARGO DE DIRECAO - CD - IFES,148,PRO-REITOR,S,01/10/2019,2022,12